* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  -webkit-box-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

body #copyright {
  background-image: linear-gradient(155deg, #111416, #21252a);
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex: 1 1;
  padding: 30px;
}

body #copyright a {
  color: #fff;
}

body #copyright div:not(:first-child) {
  border-left: 1px solid #d3a347;
  padding-left: 30px;
}

body #copyright > div {
  flex-basis: 0;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

body #copyright > div ul {
  font-size: 10pt;
  list-style: none;
  margin: 0;
  padding-left: 15px;
}

nav {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1a1e22), to(#252b30));
  background-image: linear-gradient(to top, #1a1e22, #252b30);
}

nav a {
  color: #F1F5F8;
}

nav #search button {
  background-color: #ffc24b;
  border: none;
  color: #fff;
  padding: 7px 10px;
}

nav #search input {
  background-color: #2c3238;
  border-bottom: 1px solid #ffc24b;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0;
  color: #fff;
  margin-right: 5px;
  width: 300px;
}

nav #search input::-webkit-input-placeholder {
  color: #e5e5e5;
}

nav #search input::-moz-placeholder {
  color: #e5e5e5;
}

nav #search input:-ms-input-placeholder {
  color: #e5e5e5;
}

nav #search input::-ms-input-placeholder {
  color: #e5e5e5;
}

nav #search input::placeholder {
  color: #e5e5e5;
}

nav #search input:focus {
  border-bottom: 1px solid #fff;
  box-shadow: none;
}

nav #search #results {
  display: none;
  border: 1px solid #ffc24b;
  box-shadow: 2px 2px 4px 2px #c1c5c8;
  position: absolute;
  top: 48px;
  width: 341px;
  z-index: 99999;
}

nav #search #results .result {
  background-color: #FFFFFF;
  border-bottom: 1px solid #e5e5e5;
  list-style-type: none;
  margin: 0;
  padding: 0.25em 0.5em;
}

nav #search #results .result:hover {
  background-color: #F1F5F8;
}

nav #search #results .result em {
  color: #4e555b;
  font-size: 10pt;
}

nav #search #results .result > span {
  display: block;
}

nav #search #results .result > span > a {
  color: #1f2327;
  font-size: 1em;
}

nav #search #results .result ul {
  font-size: 0.675em;
  margin-bottom: 0;
  padding: 0;
}

nav #search #results .result ul a {
  color: #57636e;
}

nav #search #results .result ul li {
  display: inline;
  margin: 0;
}

nav #search #results .result ul li:before {
  content: ">";
  margin: 0 4px;
}

nav #search #results .result ul li:first-child:before {
  content: "";
  margin: 0;
}

button,
label,
select {
  cursor: pointer;
}

.d-hidden {
  display: none;
}

#app {
  -webkit-box-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
}

#heading {
  background-color: #fff;
  box-shadow: 0 8px 4px -4px #c1c5c8;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 15px;
  padding: 0.75em;
}

#heading button {
  background: transparent;
  border: none;
  font-size: 12pt;
}

#heading span {
  font-size: 12pt;
}

#content-wrapper {
  background-color: #F1F5F8;
  -webkit-box-flex: 1;
          flex: 1;
}

main {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 4px 4px 4px #ddd;
  margin: 15px;
  padding: 15px;
}

main > h3 {
  background-color: #eceeef;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  margin: 15px -15px;
  padding: 0.5em;
}

.breadcrumb {
  background-color: transparent !important;
  font-size: 10pt;
  margin: 0;
  padding: 0 15px;
  text-shadow: 1px 1px 0 #d1ecf1;
}

table th {
  background-color: #2c3238 !important;
  border-bottom: 2px solid #ffc24b !important;
  color: #fff;
  font-size: 14pt;
}

table th.active a {
  color: #ffc24b;
}

table th a {
  color: #f2f2f2;
}

table th a:hover {
  color: #c1c5c8;
  text-decoration: none;
}

#filter {
  background-color: #f2f2f2;
  border: 1px solid #dee2e6;
  margin-bottom: 8px;
}

#filter legend {
  background: #fff;
  border: 1px solid #dee2e6;
  display: inline-block;
  font-size: 12pt;
  margin: 0;
  margin-left: 15px;
  padding: 0.25em 0.5em;
  width: auto;
}

#filter label {
  font-size: 11pt;
  margin: 0;
}

#filter > div {
  margin: 0;
  padding: 8px;
}

#table-os-places ul,
#table-geo-places ul,
#table-osm-places ul,
#table-ons-places ul {
  font-size: 0.675em;
  margin-bottom: 0;
  padding: 0;
}

#table-os-places ul a,
#table-geo-places ul a,
#table-osm-places ul a,
#table-ons-places ul a {
  color: #57636e;
}

#table-os-places ul li,
#table-geo-places ul li,
#table-osm-places ul li,
#table-ons-places ul li {
  display: inline;
  margin: 0;
}

#table-os-places ul li:before,
#table-geo-places ul li:before,
#table-osm-places ul li:before,
#table-ons-places ul li:before {
  content: ">";
  margin: 0 4px;
}

#table-os-places ul li:first-child:before,
#table-geo-places ul li:first-child:before,
#table-osm-places ul li:first-child:before,
#table-ons-places ul li:first-child:before {
  content: "";
  margin: 0;
}

#table-ons-places col[data-name=name] {
  width: 40%;
}

#table-ons-places col[data-name=ons_type] {
  width: 20%;
}

#table-ons-places col[data-name=ons_id] {
  width: 20%;
}

#table-ons-places col[data-name=ipn_id] {
  width: 20%;
}

#table-osm-places col[data-name=name] {
  width: 40%;
}

#table-osm-places col[data-name=osm_type] {
  width: 20%;
}

#table-geo-places col[data-name=name] {
  width: 40%;
}

#table-geo-places col[data-name=geo_type] {
  width: 15%;
}

#table-geo-places col[data-name=geo_code] {
  width: 15%;
}

#table-geo-places col[data-name=geo_code_full] {
  width: 30%;
}

#table-os-places col[data-name=name] {
  width: 60%;
}

#table-os-places col[data-name=os_type] {
  width: 40%;
}

.case-sensitive {
  color: #b23942;
  font-size: 0.75em;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

dt,
dd {
  float: left;
  box-shadow: 4px 4px 2px -2px #f1f5f8;
  width: 50%;
  padding: 0.5em;
  margin-bottom: 0.125em;
}

.has-error label {
  color: #ff5252;
}

.has-error input,
.has-error select {
  border: 1px solid #b23939;
  color: #ff5252;
}

.alert-danger {
  background-color: #ff5252;
  border-color: #b23939;
  border-radius: 0;
  border-width: 4px 0 0 0;
  color: #fff;
  padding: 16px;
}

#parent-results .result {
  background-color: #FFFFFF;
  border-bottom: 1px solid #e5e5e5;
  list-style-type: none;
  margin: 0;
  padding: 0.25em 0.5em;
}

#parent-results .result:hover {
  background-color: #F1F5F8;
}

#parent-results .result em {
  color: #4e555b;
  font-size: 10pt;
}

#parent-results .result > span {
  display: block;
}

#parent-results .result > span > a {
  color: #1f2327;
  font-size: 1em;
}

#parent-results .result ul {
  font-size: 0.675em;
  margin-bottom: 0;
  padding: 0;
}

#parent-results .result ul a {
  color: #57636e;
}

#parent-results .result ul li {
  display: inline;
  margin: 0;
}

#parent-results .result ul li:before {
  content: ">";
  margin: 0 4px;
}

#parent-results .result ul li:first-child:before {
  content: "";
  margin: 0;
}

.siblings {
  margin: 0px -15px 15px -15px;
  max-height: 200px;
  overflow-y: scroll;
  padding: 0.5em 1em;
}

.siblings a {
  font-size: 10pt;
}

.siblings ul {
  -webkit-columns: 5;
     -moz-columns: 5;
          columns: 5;
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}

.siblings .sibling-distance {
  color: #dc3545;
  font-size: 9.5pt;
}

.coord-link {
  font-size: 10pt;
}

.coord-link i {
  margin-right: 0.25em;
}

.prepend {
  font-size: 10pt !important;
  padding: 2px 8px !important;
}

